/* Contenedor principal de Preparatoria */
.elemental-container {
    text-align: center;
    padding: 2rem;
    max-width: 900px;
    margin: 0 auto;
}

/* Estilos del título */
#elemental h2 {
    color: #cc0000;
    font-size: 2rem;
    font-weight: bold;
    text-transform: uppercase;
    text-align: left; /* Alinea el texto a la izquierda */
    margin-bottom: 0.5rem;
}

/* Línea decorativa debajo del título */
.title-line {
    width: 100%;
    height: 5px;
    background-color: #008000; /* Verde */
    margin: 0 auto 2rem auto; /* Espacio debajo del título */
}

/* Imagen de ancho completo centrada */
.full-width-image {
    width: 1340px;
    height: 800px;
    display: block;
    margin: 0 auto 20px auto; /* Centra la imagen horizontalmente */
}

.horario {
    width: 880px;
    height: 494px;
    display: block;
    margin: 0 auto 20px auto; /* Centra la imagen horizontalmente */
}


/* Estilos del texto */
#elemental p {
    font-size: 1.2rem;
    line-height: 1.6;
    color: #333;
    text-align: justify;
}

/* HORARIOS */
.accordion-button {
    background-color: #610000;
    color: white;
    padding: 20px;
    width: 100%;
    text-align: center;
    font-weight: bold;
    border: none;
    cursor: pointer;
    font-size: 16px;
    margin-top: 5px;
    border-radius: 4px;
}

.accordion-content {
    display: none;
    background-color: #f1f1f1;
}

.accordion-button.active {
    background-color: #9e2a2a !important;
}

.accordion-button:hover:not(.active) {
    background-color: #e9e831; /* o el color que prefieras */
    color: #cc0000;
}

