/* Reset básico */
body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    background-color: white; /* Azul marino */
    height: 100vh;
}


/* Layout de pantalla dividida */
.split-layout {
    display: flex;
    height: calc(100vh - 60px); /* Resta el alto del login-container */
}

/* Columna izquierda con imagen */
.left-image {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white; /* mismo azul marino para consistencia */
    padding: 2rem;
}

.left-image img {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
}

/* Columna derecha con formulario */
.recursos-container {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2rem;
    color: #fff;
}

/* Estilo del título */
#recursos h2 {
    color: #cc0000;
    font-size: 2rem;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 0.5rem;
}

/* Línea verde debajo del título */
.title-line {
    width: 90%;
    max-width: 900px;
    height: 5px;
    background-color: #008000;
    margin: 0 auto 3rem auto;
}

/* Contenedor del formulario */
#login-container {
    width: 320px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: rgba(249, 249, 249, 0.95);
    color: #000;
}

/* Etiquetas */
#login-container label {
    display: block;
    font-weight: bold;
    margin-top: 35px;
    font-size: 14px;
}

/* Inputs */
input {
    display: block;
    width: 90%;
    margin: 10px 0;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 14px;
}

/* Botón */
button {
    background-color: #FFD700;
    color: black;
    font-weight: bold;
    border: none;
    padding: 10px;
    cursor: pointer;
    font-size: 14px;
    width: 100%;
    border-radius: 4px;
    margin-top: 30px;
}

button:hover {
    background-color: #E5C100;
}

/* Mensaje de error */
#login-message {
    color: red;
    margin-top: 10px;
    font-size: 14px;
}
